@using OnlineDrinkShop.Models;
@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "帳戶管理";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-secondary">帳戶管理</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-area="Customer" asp-controller="User" asp-action="Create" class="btn btn-info"><i class="bi bi-plus-lg"></i>&nbsp; 新增使用者</a>
    </div>
</div>    
<br />
<div>
    <table class="table table-striped border" id="AccountTable">
        <thead>
            <tr class="table-info">
                <th>使用者ID</th>
                <th>Email</th>
                <th>電話號碼</th>
                <th>封鎖狀態</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    @if(item.LockoutEnd > DateTime.Now && item.LockoutEnd != null)
                    {
                        <td>True</td>
                        <td></td>
                        <td style="width: 150px">
                            <div class="btn-group">
                                <a asp-action="Active" asp-route-id="@item.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>False</td>
                        <td></td>
                        <partial name="_StringButtonPartialView" model="@item.Id"/>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('#AccountTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        } );

        $(function(){
            var save = '@TempData["save"]';
            var update = '@TempData["update"]';
            var lockout = '@TempData["lockout"]';
            var active = '@TempData["active"]';
            var remove = '@TempData["remove"]';

            if (save != '') {
                alertify.success(save);
            } else if (update != '') {
                alertify.success(update);
            } else if (lockout != '') {
                alertify.error(lockout);
            } else if (active != '') {
                alertify.success(active);
            } else if (remove != '') {
                alertify.error(remove);
            }
        });
    </script>
}