@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-4 text-start">
        <h2 class="text-secondary">Roles</h2>
    </div>

    <div class="col-4 text-center">
        <a asp-controller="Role" asp-action="Assign" class="btn btn-primary">指派Role</a>
        <a asp-controller="Role" asp-action="AssignUserRole" class="btn btn-primary">查詢UserRole</a>
    </div>

    <div class="col-4 text-end">
        <a asp-controller="Role" asp-action="Create" class="btn btn-info"><i class="bi bi-plus-lg"></i>&nbsp; 新增Role</a>
    </div>
</div>    
<br />
<div>
    <table class="table table-striped border">
        <thead>
            <tr class="table-info">
                <th>名稱</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Roles)
            {
                <tr>
                    <td>@item.Name</td>
                    <td></td>
                    <td style="width: 150px">
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var save = '@TempData["save"]';
            var update = '@TempData["update"]';
            var remove = '@TempData["remove"]';

            if (save != '') {
                alertify.success(save);
            } else if (update != '') {
                alertify.success(update);
            } else if (remove != '') {
                alertify.error(remove);
            }
        });
    </script>
}