@using OnlineDrinkShop.Models;
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-secondary">產品清單</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Product" asp-action="Create" class="btn btn-info"><i class="bi bi-plus-lg"></i>&nbsp; 新增產品</a>
    </div>
</div>    

<form method="post">
    <div class="row">
        <div class="col-3">
            <input type="number" class="form-control" name="lowAmount"/>
        </div>
        <div class="col-3">
            <input type="number" class="form-control" name="largeAmount"/>
        </div>
        <div class="col-3">
            <input type="submit" value="Search" class="btn btn-success"/>
        </div>
        <div class="col-3">
            
        </div>
    </div>
</form>

<br />
<div>
    <table class="table table-striped border" id="ProductTable">
        <thead>
            <tr class="table-info">
                <th>
                    品名
                    @*@Html.DisplayNameFor(c => c.ProductName)*@
                </th>
                <th>
                    小杯價格
                </th>
                <th>
                    大杯價格
                </th>
                <th>
                    Tag名稱
                </th>
                <th>
                    糖度是否可選?
                </th>
                <th>
                    冰度是否可選?
                </th>
                <th>
                    是否上架?
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.SmallPrice</td>
                    <td>@item.BigPrice</td>
                    <td>@item.Tag?.Tag_Name</td>
                    <td>@item.SugarLevelIsAvailable</td>
                    <td>@item.IceLevelIsAvailable</td>
                    <td>@item.IsAvailable</td>
                    <td>
                        <partial name="_ButtonPartial" model="@item.Id"/>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <script type="text/javascript">
        $(document).ready( function () {
            $('#ProductTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        } );

        $(function(){
            var save = '@TempData["save"]';
            var update = '@TempData["update"]';
            var remove = '@TempData["remove"]';

            if (save != '') {
                alertify.success(save);
            } else if (update != '') {
                alertify.success(update);
            } else if (remove != '') {
                alertify.error(remove);
            }
        });
    </script>
}