@using OnlineDrinkShop.Models;
@model IEnumerable<Tag>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-secondary">Tag清單</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Tag" asp-action="Create" class="btn btn-info"><i class="bi bi-plus-lg"></i>&nbsp; 新增Tag</a>
    </div>
</div>    
<br />
<div>
    <table class="table table-striped border">
        <thead>
            <tr class="table-info">
                <th>
                    Tag名稱
                    @*@Html.DisplayNameFor(c => c.Tag_Name)*@
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Tag_Name</td>
                    <td>
                        <partial name="_ButtonPartial" model="@item.Id"/>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <script type="text/javascript">
        $(function(){
            var save = '@TempData["save"]';
            var update = '@TempData["update"]';
            var remove = '@TempData["remove"]';

            if (save != '') {
                alertify.success(save);
            } else if (update != '') {
                alertify.success(update);
            } else if (remove != '') {
                alertify.error(remove);
            }
        });
    </script>
}
